.dnd_item {
    display: block;
    width: 100%;
    justify-content: center;
    margin: 10px;
    padding: 10px;

}

.sugg-wrapper {
    display: flex;
    background-color: #8c52ff;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-bottom: 0.5rem;
    margin: 0.5rem;
}

.sugg-wrapper span {
    align-items: right;
}

.sugg-wrapper h5 {
    display: flex;
    flex-direction:column;
    color: #fdfdfd;
    padding: 0.1rem;
}

.sugg-wrapper div {
    width: 100%;
    justify-content: space-between;
}

.sugg-wrapper span {
    width: 100%;
    justify-content: right;
}

.right {
    display: flex;
    text-align: right;
    background-color: white;

}

.title {
    font-size: 1rem;
    margin: 0.25rem;
}

.author {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
}

.comment {
    font-size: 0.85rem;
    margin-left: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

div .formItem {
    display: flex;
    flex-direction: column;
    background-color: #8c52ff;
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border-bottom: 0.5rem;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;

}